<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <package android:name="com.ads.lio.uriappclient" />
        <package android:name="br.com.cielosmart.orderservice" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SellCieApplication">
        <meta-data
            android:name="cs_integration_type"
            android:value="uri" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SellCieApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentResponseActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sellcie" android:host="payment-result" />
            </intent-filter>
        </activity>
        <service
            android:name=".data.payment.PaymentForegroundService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>

</manifest>
